.highlighted-players {
    color: #ffffff;
    background: rgb(176, 58, 120);
    background: linear-gradient(180deg, rgba(176, 58, 120, 1) 0%, rgba(117, 44, 123, 1) 100%);
    border-radius: 5px;
    height: 185px;
    max-height: 25vh;
    margin: 10px auto;
    position: relative;
    display: grid;
    grid-template-areas: "header header" "body body";
    grid-template-rows: 30% 70%;

    .header {
        text-align: center;
        font-weight: bold;
        line-height: 5;
    }

    .highlighted-player {
        margin: auto;
        margin-bottom: 33px;

        .player-picture {
            padding: 2px;
            background-color: #a3035e;
            // border: 2px solid black;
        }

        .figure-caption {
            float: right;
        }
    }

    .field-line {
        position: absolute;
        top: 0;
        left: 50%;
        border-left: 0.1px solid var(--field-marking-color);
        width: 1px;
        height: 100%;
    }

    .field-center-circle {
        position: absolute;
        top: calc(50% - 25px);
        left: calc(50% - 25px);
        border: 1px solid var(--field-marking-color);
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }

    .player-percentage {
        color: #ffffff;
        font-weight: bold;
        border-bottom: 1px solid #fff;
    }
}
