@import "~bootstrap/scss/bootstrap";

html,
body,
#root {
  height: 100%;
}

body {
  background-color: #f7f3f7;
}

.app-container {
  display: grid;
  height: 100%;
  grid-template-areas: "header" "content" "footer";
  grid-template-rows: auto 1fr auto;
}

.content-container{
  min-height: 86.7vh;
  overflow: auto;
}

// create gradient bg variant in bootstrap
.bg-gradient {
  background: rgb(191, 8, 78);
  background: linear-gradient(
    90deg,
    rgba(191, 8, 78, 1) 0%,
    rgba(186, 10, 81, 1) 20%,
    rgba(139, 31, 106, 1) 80%,
    rgba(139, 31, 106, 1) 100%
  );
}

.card {
  margin-top: 15px;
  box-shadow: 2px 5px 9px #696f6d1a;
  border: none;
  border-radius: 5px;
}

.card-header {
  color: #603a8c;
  font-weight: bolder;
  background-color: #ffffff;
}

// override bootstrap reboot
p {
  margin-bottom: 0;
}
